html,
body {
  font-family: sans-serif;
  width: 300px;
}

.hidden {
  display: none;
}

form label, form button {
  /* border: none;
  width: 100%; */
  margin: 3% auto;
  padding: 4px;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  font-family: sans-serif;
  background-color: #e5f2f2;
}

button:hover {
  font-family: sans-serif;
  background-color: #cff2f2;
}
